@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
}

header,
.main-content-container,
.card-container {
  padding: 0 24px;
}

header,
.main-content,
.cards {
  background-color: #fff;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo,
.fa-bars {
  color: #6070ff;
}

#logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

/* main section */
.main-content {
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url("asset/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content h1 {
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 10px;
}

.main-content-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-bottom: 10px;
}

.main-content-container #social-heading {
  color: #7f8cff;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.social-icons ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.social-icons ul li {
  margin-right: 15px;
}

.main-content-container > div {
  overflow-wrap: break-word;
}

/* card-section */
.card-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  padding: 16px;
}

.screenshot {
  width: 100%;
}

.card-description {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.card-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.card-bg-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-bg-info p {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-bg-info ul {
  display: flex;
  margin-left: 30px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.card-bg-info ul li:nth-child(2) {
  margin-left: 30px;
}

.card-text {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 10px
}

.card-skills {
  padding-top: 10px;
}

.card-skills ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.card-skills ul li {
  display: flex;
  align-items: center;
  margin-right: 8px;
  background: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
}


.btn {
  color: #6070ff;
  background: transparent;
  padding: 12px;
  margin-top: 25px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}

/* Media Queries */
@media (max-width: 400px) {
  .cards {
    padding: 16px;
  }
}
